%main#content
  .side-bar
    %ul
      %li
        %a{:href => "/static_pages/contact"} Contact
      %li
        %a{:href => "/static_pages/help"} Help
      %li
        %a{:href => "/static_pages/terms"} Terms and Conditions
      %li
        %a{:href => "/static_pages/cookies"} Cookies
      %li
        %a{:href => "/static_pages/welsh"} Rhestr o Wasanaethau Cymraeg
  .container-fluid
    .container
      .row
        .col-12
          %h1 About
          %p.text-large Select an option from the sidebar for more information.
    .row
      .col-9
      .col-3
        %aside.bar.panel
          .aside-title Need more information?
          %p No problem! Our team is happy to help.
          .aside-action
            %a{:href => "#"} 0300 790 6802
