<main id="content">
  <div class="container-fluid">

    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Edit Article</h1>
          <div class="important">
            <p>Please note: Your old comment will no longer exist.</p>
          </div>
        </div>
      </div>
    </div>
</main>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>
